{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th>#</th>
        <th>Usuario</th>
        <th>Pedido</th>
        <th>Total</th>
        <th>Fecha</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for v in object_list %}
      <tr>
        <td>{{ v.id_venta }}</td>
        <td>{{ v.usuario }}</td>
        <td>{{ v.pedido }}</td>
        <td>${{ v.total_venta }}</td>
        <td>{{ v.fecha_venta }}</td>
        <td>
          <a href="{% url 'app:editar_venta' v.pk %}" class="btn btn-primary btn-xs">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="{% url 'app:eliminar_venta' v.pk %}" class="btn btn-danger btn-xs">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="card-footer">
  <a href="{% url 'app:crear_venta' %}" class="btn btn-success btn-xs">
    <i class="fas fa-plus"></i> Crear nueva venta
  </a>
</div>

{% endblock %}