{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Unidad</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>

      {% for u in object_list %}
      <tr>
        <td>{{ u.id_producto }}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.descripcion }}</td>
        <td>{{ u.unidad }}</td>
        <td>{{ u.precio }}</td>
        <td>{{ u.stock }}</td>
        <td>

          <a href="{% url 'app:editar_producto' u.id_producto %}" class="btn btn-primary btn-xs"><i
              class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="{% url 'app:eliminar_producto' u.id_producto %}" class="btn btn-danger btn-xs"><i
              class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-success btn-xs">
    <i class="fas fa-plus"></i> Crear nueva producto
  </a>
</div>
{% endblock %}