{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<table class="table" id="tabla">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Unidad</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    
    {% for u in object_list %}
    <tr>
        <td>{{ u.id_producto }}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.descripcion }}</td>
        <td>{{ u.unidad }}</td>
        <td>{{ u.precio }}</td>
        <td>{{ u.stock }}</td>
      <td>

        <a href="{% url 'app:editar_producto' u.id_producto %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
      </td>
      <td>
        <a href="{% url 'app:eliminar_producto' u.id_producto %}" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-primary btn-xs">
    <i class="fas fa-plus"></i> Crear nueva producto
  </a>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
    });
  });
</script>
{% endblock js %}