{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla_platos">
    <h2>Platos del Menú</h2>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col" data-col="descripcion">Descripción</th>
        <th scope="col">precio</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>

      {% for m in plato_menu %}
      <tr>
        <td>{{ m.id_menu }}</td>

        <td>
          {{ m.plato.nombre }}
        </td>

        <td scope="col" data-col="descripcion">Descripción</td>>


        <td>
          $ {{ m.plato.precio }}
        </td>

        <td>
          <a href="{% url 'app:editar_plato' m.plato.id_plato %}" class="btn btn-primary btn-xs">
            <i class="fas fa-edit"></i>
          </a>
        </td>

      </tr>
      {% endfor %}
    </tbody>


  </table>

  <table class="tabla" id="tabla_productos">
    <h2>Productos</h2>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col" data-col="descripcion">Descripción</th>
        <th scope="col">precio</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>

      {% for m in productos_menu %}
      <tr>
        <td>{{ m.id_menu }}</td>


        <td>
          {{ m.producto.nombre }}
        </td>

        <td scope="col" data-col="descripcion">Descripción</td>


        <td>
          $ {{ m.producto.precio }}
        </td>

        <td>
          <a href="{% url 'app:editar_producto' m.producto.id_producto %}" class="btn btn-primary btn-xs">
            <i class="fas fa-edit"></i>
          </a>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

