{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<table class="table" id="tabla">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">precio</th>d
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    
    {% for m in object_list %}
<tr>
    <td>{{ m.id_menu }}</td>

    <td>
            {{ m.plato.nombre }}
    </td>

    <td>
            {{ m.plato.descripcion }}
    </td>

    
    <td>
            $ {{ m.plato.precio }}
    </td>

    <td>
        <a href="{% url 'app:editar_plato' m.plato.id_plato %}" class="btn btn-primary btn-xs">
            <i class="fas fa-edit"></i>
        </a>
    </td>

</tr>
{% endfor %}
  </tbody>


</table>






<table class="table" id="tabla">
   <h1>Productos</h1>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">precio</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    
    {% for m in object_list %}
<tr>
    <td>{{ m.id_menu }}</td>


    <td>
            {{ m.producto.nombre }}
    </td>

    <td>
            {{ m.producto.descripcion }}
    </td>

    
    <td>
            $ {{ m.producto.precio }}
    </td>

    <td>
        <a href="{% url 'app:editar_producto' m.producto.id_producto %}" class="btn btn-primary btn-xs">
            <i class="fas fa-edit"></i>
        </a>

    </td>
</tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
    });
  });
</script>
{% endblock js %}