{% extends "main.html" %}
{% load static %}
{% block Contenido %}

<table class="table table-bordered table-striped" id="tabla">
  <thead>
    <tr>
      <th>#</th>
      <th>Total</th>
      <th>Método de Pago</th>
      <th>Fecha</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    
    {% for f in object_list %}
    <tr>
      <td>{{ f.id }}</td>
      <td>${{ f.valor_total }}</td>
      <td>{{ f.metodo_pago }}</td>
      <td>{{ f.fecha_hora }}</td>
      
      <td>
        <a href="{% url 'app:editar_factura' f.id %}" 
           class="btn btn-warning btn-sm">
           <i class="fas fa-edit"></i>
        </a>
      </td>

      <td>
        <a href="{% url 'app:eliminar_factura' f.id %}" 
           class="btn btn-danger btn-sm">
           <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

<div class="card-footer">
  <a href="{% url 'app:crear_factura' %}" class="btn btn-primary btn-sm">
    <i class="fas fa-plus"></i> Crear Nueva Factura
  </a>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
    });
  });
</script>
{% endblock js %}

