{% extends "main.html" %}
{% load static %}
{% block Contenido %}

<form method="GET" class="mb-3">
    <input type="text" name="buscar" placeholder="Buscar por estado"
           value="{{ request.GET.buscar }}"
           class="form-control"
           style="width: 300px; display: inline;">
    
    <input type="date" name="fecha"
           value="{{ request.GET.fecha }}"
           class="form-control"
           style="width: 200px; display: inline;">

    <button type="submit" class="btn btn-primary">
        Buscar
    </button>
</form>

{% if request.GET.fecha and not object_list %}
<div class="alert alert-danger text-center mt-3">
    No hay un pedido con esa fecha.
</div>
{% endif %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mesa</th>
            <th>Platos</th>
            <th>Productos</th>
            <th>Empleado</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        {% for c in object_list %}
        <tr>
            <td>{{ c.id_comanda }}</td>
            <td>Mesa {{ c.pedido.mesa.numero_mesa }}</td>

            <td>
                {% for d in c.pedido.detalle_platos.all %}
                    {{ d.plato.nombre }} (x{{ d.cantidad }})<br>
                {% empty %}
                    Sin platos
                {% endfor %}
            </td>

            <td>
                {% for d in c.pedido.detalle_productos.all %}
                    {{ d.producto.nombre }} (x{{ d.cantidad }})<br>
                {% empty %}
                    Sin productos
                {% endfor %}
            </td>

            <td>{{ c.pedido.usuario }}</td>
            <td>{{ c.fecha_hora|date:"d/m/Y H:i" }}</td>
            <td>{{ c.estado }}</td>
            <td>${{ c.pedido.total }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">
                No hay comandas registradas
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}