{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th scope="col">id_comanda</th>
        <th scope="col">fecha_hora</th>
        <th scope="col">estado</th>
        <th scope="col">usuario_id</th>
      </tr>
    </thead>
    <tbody>

      {% for c in object_list %}
      <tr>
        <td>{{ c.id_comanda }}</td>
        <td>{{ c.fecha_hora }}</td>
        <td>{{ c.estado }}</td>
        <td>{{ c.usuario_id }}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}