{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<table class="table" id="tabla">
  <thead>
    <tr>
      <th scope="col">id_pedido</th>
      <th scope="col">fecha_hora</th>
      <th scope="col">valor</th>
      <th scope="col">estado</th>
      <th scope="col">comanda_id</th>
      <th scope="col">mesa_id</th>
      <th scope="col">Editar</th>
      <th scope="col">eliminar</th>
    </tr>
  </thead>
  <tbody>
    
    {% for c in object_list %}
    <tr>
      <td>{{ c.id_pedido }}</td>
      <td>{{ c.fecha_hora }}</td>
      <td>{{ c.valor }}</td>
      <td>{{ c.estado }}</td>
      <td>{{ c.comanda_id }}</td>
      <td>{{ c.mesa_id }}</td>

      <td>
        <a href="{% url 'app:editar_pedido' c.id_pedido %}" 
           class="btn btn-primary btn-sm">
          <i class="fas fa-edit"></i>
        </a>
      </td>

      <td>
        <a href="{% url 'app:eliminar_pedido' c.id_pedido %}" 
           class="btn btn-danger btn-sm">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-primary btn-xs">
    <i class="fas fa-plus"></i> Crear nueva pedido
  </a>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
    });
  });
</script>
{% endblock js %}