{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoria</th>
        <th scope="col">stock</th>
        <th scope="col">valor</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>

      {% for m in object_list %}
      <tr>
        <td>{{ m.id_insumo}}</td>
        <td>{{ m.nombre }}</td>
        <td>{{ m.descripcion }}</td>
        <td>{{ m.categoria }}</td>
        <td>{{ m.stock }}</td>
        <td>{{ m.valor }}</td>
        <td>
          <a href="{% url 'app:editar_insumos' m.id_insumo %}" class="btn btn-primary btn-xs"><i
              class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="{% url 'app:eliminar_insumos' m.id_insumo %}" class="btn btn-danger btn-xs"><i
              class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{% url 'app:crear_insumos' %}" class="btn btn-success">
    <i class="fas fa-plus"></i> Crear nuevo insumo
  </a>
</div>
{% endblock %}

