{% extends "main.html" %}
{% load static %}
{% block Contenido %}

<div class="tabla-wrapper">
  
<form method="get" class="mb-3">
  <div class="row">

    <div class="col-md-4">
      <select name="categoria" class="form-control">
  <option value="">Todas las categorías</option>
  {% for cat in categorias %}
    <option value="{{ cat.id }}"
      {% if categoria_seleccionada == cat.id|stringformat:"s" %}
        selected
      {% endif %}
    >
      {{ cat.nombre }}
    </option>
  {% endfor %}
</select>
    </div>
    <div class="col-md-3">
  <select name="stock_bajo" class="form-control">
    <option value="">Todos los stocks</option>
    <option value="1"
      {% if stock_bajo == "1" %}selected{% endif %}>
      Stock menor a 10
    </option>
  </select>
</div>

    <div class="col-md-4">
      <button type="submit" class="btn btn-primary">
        Filtrar
      </button>
    </div>

  </div>
</form>
<table class="tabla" id="tabla">
  <h1>{{ categoria }}</h1>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col" data-col="descripcion" >Descripción</th>
      <th scope="col">Categoria</th>
      <th scope="col">stock</th>
      <th scope="col">valor</th>
      <th scope="col">Eliminar</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    
    {% for m in object_list %}
    <tr>
      <td>{{ m.id_insumo}}</td>
      <td>{{ m.nombre }}</td>
      <td data-col="descripcion">{{ m.descripcion }}</td>
      <td>{{ m.categoria }}</td>
        <td>
  {% if m.stock == 0 %}
    <span class="badge bg-danger">
      Sin stock
    </span>

  {% elif m.stock > 0 and m.stock < 5 %}
    <span class="badge bg-warning text-dark">
      {{ m.stock }} (Crítico)
    </span>

  {% elif m.stock >= 5 and m.stock <= 10 %}
    <span class="badge bg-info text-dark">
      {{ m.stock }} (Bajo)
    </span>

  {% else %}
    <span class="badge bg-success">
      {{ m.stock }} (Normal)
    </span>
  {% endif %}
</td>
      <td>{{ m.valor }}</td>
      <td>
        <a href="{% url 'app:editar_insumos' m.id_insumo %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
      </td>
      <td>
        <a href="{% url 'app:eliminar_insumos' m.id_insumo %}" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="card-footer">
  <a href="{% url 'app:crear_insumos' %}" class="btn btn-success">
    <i class="fas fa-plus"></i> Crear nuevo insumo
  </a>
</div>
{% endblock %}
