{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th>#</th>
        <th>Proveedor</th>
        <th>Usuario</th>
        <th>Producto</th>
        <th>Insumo</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </thead>
    <tbody>

      {% for u in object_list %}
      <tr>
        <td>{{ u.id_compra }}</td>
        <td>{{ u.id_proveedor.nombre_proveedor }}</td>
        <td>{{ u.id_usuario.nombre }}</td>
        <td>{{ u.id_producto.nombre }}</td>
        <td>{{ u.id_insumo.nombre }}</td>
        <td>{{ u.fecha_compra }}</td>
        <td>{{ u.total_compra }}</td>
        <td>

          <a href="{% url 'app:editar_compra' u.id_compra %}" class="btn btn-primary btn-xs"><i
              class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="{% url 'app:eliminar_compra' u.id_compra %}" class="btn btn-danger btn-xs"><i
              class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-success btn-xs">
    <i class="fas fa-plus"></i> Crear nueva compra
  </a>
</div>
{% endblock %}

