{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id_categoria</th>
        <th scope="col">Nombre</th>
        <th scope="col" data-col="descripcion">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>

      {% for p in object_list %}
      <tr>
        <td>{{ p.id_plato }}</td>
        <td>{{ p.categoria_id}}</td>
        <td>{{ p.nombre }}</td>
        <td data-col="descripcion">{{ p.descripcion }}</td>
        <td>{{ p.precio }}</td>
        <td>
          <a href="{% url "app:editar_plato" p.id_plato %}" class="btn btn-primary btn-xs"><i
              class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="{% url "app:eliminar_plato" p.id_plato %}" class="btn btn-danger btn-xs"><i
              class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-success btn-xs">
    <i class="fas fa-plus"></i> Crear nuevo plato
  </a>
</div>
{% endblock %}