{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col" data-col="descripcion">Descripción</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de Creación</th>
        <th scope="col">Fecha de Actualización</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>

      {% for c in object_list %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td data-col="descripcion">{{ c.descripcion }}</td>
        <td>{{ c.estado }}</td>
        <td>{{ c.fecha_creacion }}</td>
        <td>{{ c.fecha_actualizacion }}</td>
        <td>
          <a href="{% url 'app:editar_categoria' c.id %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="{% url 'app:eliminar_categoria' c.id %}" class="btn btn-danger btn-xs"><i
              class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-success btn-xs">
    <i class="fas fa-plus"></i> Crear nueva categoria
  </a>
</div>
{% endblock %}

