{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<table class="table" id="tabla">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Estado</th>
      <th scope="col">Fecha de Creación</th>
      <th scope="col">Fecha de Actualización</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    
    {% for c in object_list %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.descripcion }}</td>
      <td>{{ c.estado }}</td>
      <td>{{ c.fecha_creacion }}</td>
      <td>{{ c.fecha_actualizacion }}</td>
      <td>
        <a href="{% url 'app:editar_categoria' c.id %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
      </td>
      <td>
        <a href="{% url 'app:eliminar_categoria' c.id %}" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
      </td>
      <td>{{ c.nombre }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-primary btn-xs">
    <i class="fas fa-plus"></i> Crear nueva categoria
  </a>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
    });
  });
</script>
{% endblock js %}