.tabla {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0.3rem;
}

.tabla th,
.tabla td {
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.tabla th {
  background: #000;
  color: #fff;
  font-weight: bold;
}

.tabla td {
  background: #fff3dc;
  box-shadow: 0 2px 6px rgba(25, 24, 24, 0.15);
}

/* columna descripción universal */
.tabla th[data-col="descripcion"],
.tabla td[data-col="descripcion"] {
  word-break: break-word;
  white-space: normal;
}

/* efecto moderno */
.tabla tr:hover td {
  transform: translateY(-2px);
  transition: 0.2s;
}


/* ===== TABLETS ===== */
@media (max-width: 992px) {

  nav {
    padding: 10px 5%;
  }

  .buscador input {
    width: 100%;
  }

  .tabla-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .tabla {
    min-width: 700px;
  }
}


/* ===== MÓVILES ===== */
@media (max-width: 600px) {

  header {
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
  }

  .icono {
    width: 12vw;
    max-width: 35px;
  }

  main {
    padding: 8px;
  }

  .tabla-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .tabla {
    min-width: 650px;
  }

  .tabla th,
  .tabla td {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  /* descripción más compacta en móvil */
  .tabla td[data-col="descripcion"] {
    font-size: 0.78rem;
    line-height: 1.3;
  }
}