{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Insumo</th>
        <th scope="col">Tipo de notificacion</th>
        <th scope="col">Mensaje</th>
        <th scope="col">Fecha</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>

      {% for n in object_list %}
      <tr>
        <td>{{ n.id_notificacion }}</td>
        <td>{{ n.producto }}</td>
        <td>{{ n.insumo }}</td>
        <td>{{ n.tipo_notificacion }}</td>
        <td>{{ n.mensaje }}</td>
        <td>{{ n.fecha }}</td>

        <td>
          <a href="{% url 'app:editar_notificacion' n.id_notificacion %}" class="btn btn-primary btn-xs"><i
              class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="{% url 'app:eliminar_notificacion' n.id_notificacion %}" class="btn btn-danger btn-xs"><i
              class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-success btn-xs">
    <i class="fas fa-plus"></i> Crear nueva notificación
  </a>
</div>
{% endblock %}

