{% extends "index.html" %}
{% load static %}
{% block body %}

<body>

  {% include 'header.html'%}

  {% include 'nav.html'%}
  {% block main %}
  {% endblock main %}
  {%include 'footer.html'%}
  <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>

  <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>




</body>


{% block js %}

{% endblock %}
{% endblock %}