{% extends 'main.html' %}
{% load widget_tweaks %}

{% block Contenido %}

<form method="post" action=".">
    <div class="card card-default">
        
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group">
    
            <label>{{ field.label }}:</label>

            {% if field.name == "password" or field.name == "contrasena" %}
                {{ field|add_class:"form-control"|attr:"autocomplete:off"|attr:"id:password" }}

                <div class="mt-2">
                    <label>Confirmar:</label>
                    <input type="password" id="confirm_password" class="form-control" autocomplete="off" placeholder="Confirme la contraseña">
                    <small id="confirm_error" class="text-danger"></small>
                </div>

            {% else %}
                {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            {% endif %}

            {% if field.errors %}
            <div class="text-danger mt-1">
                {% for error in field.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
            {% endif %}

            {% if field.name == "password" or field.name == "contrasena" %}
            <div class="progress mt-2" style="width:200px;">
                <div id="password-strength-bar" class="progress-bar" style="width:0%"></div>
            </div>

            <small id="password-text" class="form-text text-muted"></small>
            {% endif %}

        </div>
        {% endfor %}

        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-xs">
                <i class="fas fa-plus"></i> Guardar registro
            </button>

            <a href="{% url 'app:listar_usuarios' %}" class="btn btn-danger">
                Cancelar
            </a>
        </div>

    </div>
</form>

{% endblock %}


{% block js %}

<script>

const passwordInput = document.getElementById("password");
const confirmPassword = document.getElementById("confirm_password");

const maxLength = 15;
const minLength = 8;

const strengthBar = document.getElementById('password-strength-bar');
const strengthText = document.getElementById('password-text');
const confirmError = document.getElementById('confirm_error');

/* BARRA DE SEGURIDAD */

if(passwordInput){

passwordInput.addEventListener('input', function(){

    let val = this.value;

    if(val.length > maxLength){
        val = val.slice(0, maxLength);
        this.value = val;
    }

    let strength = 0;

    if (val.length >= minLength) strength += 20;
    if (/[a-z]/.test(val)) strength += 20;
    if (/[A-Z]/.test(val)) strength += 20;
    if (/[0-9]/.test(val)) strength += 20;
    if (/[!@#$%^&*(),.?":{}|<>]/.test(val)) strength += 20;

    strengthBar.style.width = strength + "%";

    if(val.length === 0){
        strengthText.innerText = "La contraseña está vacía";
        strengthBar.className = "progress-bar";
    }
    else if (strength < 40) {
        strengthBar.className = "progress-bar bg-danger";
        strengthText.innerText = "Muy débil";
    } 
    else if (strength < 80) {
        strengthBar.className = "progress-bar bg-warning";
        strengthText.innerText = "Media";
    } 
    else {
        strengthBar.className = "progress-bar bg-success";
        strengthText.innerText = "Fuerte";
    }

});

}


/* VALIDAR CONFIRMACION */

if(confirmPassword){

confirmPassword.addEventListener("input", function(){

    if(passwordInput.value !== confirmPassword.value){
        confirmError.innerText = "Las contraseñas no coinciden";
    }else{
        confirmError.innerText = "";
    }

});

}


/* VALIDAR AL ENVIAR */

document.getElementById("usuarioForm").addEventListener("submit", function(e){

    if(passwordInput && confirmPassword){

        if(passwordInput.value !== confirmPassword.value){

            confirmError.innerText = "Las contraseñas no coinciden";
            confirmPassword.focus();
            e.preventDefault();

        }

    }

});

</script>

{% endblock %}