{% extends 'main.html' %}
{% load widget_tweaks %}

{% block Contenido %}

<form method="post" action=".">
    <div class="card card-default">



        {% csrf_token %}
        {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">×</button>

        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al intentar guardar el registro</h5>

        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
        {% for field in form.visible_fields %}
        <div class="form-group"></div>
        <label for='name'>{{field.label}}:</label>
        {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
    </div>
    {% endfor %}

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-xs">
            <i class="fas fa-plus"></i> Guardar registro
    </button>
    </div>
    </div>

</form>


{% endblock %}
 
{% block js %}
    
        <script>
            {% if form.errors %}
            Swal.fire({
                title: "Error!",
                text: "Verificar los campos!",
                icon: "error"
            });
            {% endif %}
        </script>
        {% endblock %}