{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo Electrónico</th>
        <th scope="col">Rol</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Fecha Registro</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>

      {% for u in object_list %}
      <tr>
        <td>{{ u.id_usuario }}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.apellido }}</td>
        <td>{{ u.correo_electronico }}</td>
        <td>{{ u.rol }}</td>
        <td>••••••••</td>
        <td>{{ u.fecha_registro }}</td>
        <td>
          <a href="{% url 'app:editar_usuario' u.id_usuario %}" class="btn btn-primary btn-xs"><i
              class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="{% url 'app:eliminar_usuario' u.id_usuario %}" class="btn btn-danger btn-xs"><i
              class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{{crear_url}}" class="btn btn-success btn-xs">
    <i class="fas fa-plus"></i> Crear nueva usuario
  </a>
</div>
{% endblock %}