{% extends "main.html" %}
{% load static %}
{% block Contenido %}
<div class="tabla-wrapper">
  <table class="tabla" id="tabla">
    <thead>
      <tr>
        <th>#</th>
        <th>Venta</th>
        <th>Factura</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for p in object_list %}
      <tr>
        <td>{{ p.id_pago }}</td>
        <td>{{ p.venta }}</td>
        <td>{{ p.factura }}</td>
        <td>${{ p.monto }}</td>
        <td>{{ p.fecha }}</td>

        <td>
          <a href="{% url 'app:editar_pago' p.pk %}" class="btn btn-warning btn-sm">
            <i class="fas fa-edit"></i>
          </a>
        </td>

        <td>
          <a href="{% url 'app:eliminar_pago' p.pk %}" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="card-footer">
  <a href="{% url 'app:crear_pago' %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Nuevo Pago
  </a>
</div>

{% endblock %}
